body {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}

h1, h2 {
    color: #333;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Send the blurred background behind other content */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#student-info {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#image-container {
    margin-top: 20px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#image-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

#weather-info {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#weather-info img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}
